body{/* Todos los elementos de la página */
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

#primero{/* Todos los párrafos contenidos en #primero */
color: #336699;
}

a{/* Todos los enlaces de la página */
    color: #CC3300;
}
p{/* Todos los párrafos de la página */
   color: #555;  
}
em #primero{
  background: #FFFFCC; padding: .1em;  /* Los elementos "em" contenidos en #primero */

}
em .especial{/* Todos los elementos "em" de clase "especial" en toda la página */
    background: #FFCC99; border: 1px solid #FF9900; padding: .1em;
}
span.normal{/* Elementos "span" contenidos en .normal */
font-weight: bold;
}